{% extends '_base.html' %}
{% load i18n%}

{% block page_title %}
    Logout
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm rounded text-center">
                <div class="card-header bg-warning text-dark">
                    <h4>{% trans "Logout" %}</h4>
                </div>
                <div class="card-body">
                    <p class="lead">{% trans "Are you sure you want to log out?" %}</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">{% trans "Yes, log out" %}</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <a href="{% url 'home' %}" class="text-decoration-none">{% trans "Return to home" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}