{% extends '_base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load persian_translation_tags %}
{% load humanize %}

{% block content %}
<div class="main-content-wrapper">

    {% translate 'Order' as header_name %}
    {% include 'topheader.html' with header_name=header_name %}

    <div class="page-content-inner pb-5">
        <div class="container">
            <div class="row pt--50 pt-md--40 pt-sm--20"></div>

            <div class="row">
                <!-- Checkout Form Start -->
                <div class="col-lg-6">
                    <div class="checkout-title mt--10">
                        <h2>جزئیات سفارش</h2>
                    </div>

                    <div class="checkout-form">
                        <form method="POST" class="form form--checkout">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}

                            {# Crispy Forms will handle fields nicely #}
                            {{ form|crispy }}

                            <button type="submit" class="btn btn-primary mt-3">
                                {% translate 'Submit' %}
                            </button>
                        </form>
                    </div>
                </div>

                <!-- Order Summary Start -->
                <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                    <div class="order-details">
                        <div class="checkout-title mt--10">
                            <h2>سفارش شما</h2>
                        </div>

                        <div class="table-content table-responsive mb--30">
                            <table class="table order-table order-table-2">
                                <thead>
                                    <tr>
                                        <th>محصول</th>
                                        <th class="text-right">قیمت نهایی</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                    <tr>
                                        <th>
                                            {{ item.product_obj.title }}
                                            <strong><span>&#10005;</span> {{ item.quantity|translate_number }}</strong>
                                        </th>
                                        <td class="text-right">
                                            {{ item.product_obj.price|intcomma:False|translate_number }} {% translate '$' %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <th>مجموع</th>
                                        <td class="text-right">
                                            {{ cart.get_total_price|intcomma:False|translate_number }} {% translate '$' %}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="checkout-payment">
                            <h2 class="py-3">روش پرداخت</h2>
                            <div class="payment-group mb--10">
                                <div class="payment-radio">
                                    <input type="radio" value="bank" name="payment-method" id="bank" checked>
                                    <label class="payment-label" for="bank">درگاه آنلاین زرین پال</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Order Summary End -->

            </div>
        </div>
    </div>
</div>

{% comment %} {% include 'cart/cart_sidebar.html' %} {% endcomment %}
{% endblock %}