{% extends '_base.html' %}
{% load i18n account allauth %}

{% block head_title %}
  {% trans "Reset Email Sent" %}
{% endblock head_title %}

{% block content %}
  <header class="mb-4">
    <h1 class="h4 mb-2">{% trans "Password Reset Email Sent" %}</h1>
  </header>

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <div class="alert alert-info" role="status">
    {% blocktrans %}
      We have sent an email containing instructions to reset your password. Please also check your spam folder. 
      If you did not receive the email, check again after a few minutes or contact support.
    {% endblocktrans %}
  </div>

  <div class="mt-3">
    <a href="{% url 'account_login' %}" class="btn btn-outline-primary">{% trans "Back to Login" %}</a>
  </div>
{% endblock content %}
