{% extends '_base.html' %}

{% load persian_translation_tags %}
{% load jalali_tags %}
{% load i18n %}

{% block page_title %}Post List{% endblock %}

{% block content %}
<div class="container my-5">

    <!-- Staff only: create post button -->
    {% if request.user.is_staff %}
        <div class="mb-4 text-end">
            <a href="{% url 'post-create' %}" class="btn btn-primary btn-lg">
                {% trans "Create New Post" %}
            </a>
        </div>
    {% endif %}

      <!-- فیلتر محصولات -->
        <section class="py-4 bg-light">
            <div class="container text-center">
            <h5 class="mb-3">{% trans "Categories posts" %}</h5>
            <div class="mb-4">
                {% for category in categories %}
                <a href="?category={{ category.name }}"
                    class="btn {% if selected_category == category.name %}btn-primary{% else %}btn-outline-primary{% endif %}">
                    {{ category.name }}
                </a>
                {% endfor %}
                <a href="{% url 'post-list' %}" class="btn btn-secondary">
                {% trans "All" %}
                </a>
            </div>
            </div>
        </section>


    <div class="row g-4">
        {% for post in post_list %}
            <div class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title fw-bold">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted small">
                            {{ post.datetime_created|to_jalali:'%Y %B %d'|translate_number }}
                        </h6>
                        <p class="card-text flex-grow-1 py-2">
                            {{ post.text|safe|truncatechars_html:100 }}
                        </p>
                        <div class="mt-auto text-end">
                            <a href="{{ post.get_absolute_url }}" class="btn btn-success">
                                {% trans "Read More" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-info text-center">
                    {% trans "No posts available yet." %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
