{% load static %}
{% load i18n%}


  <!-- فوتر -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>درباره ما</h5>
          <p>ما تیمی هستیم که به آموزش باکیفیت و کاربردی در زمینه شهرسازی متعهدیم.</p>
        </div>
        <div class="col-md-4">
          <h5>لینک‌های سریع</h5>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}" class="text-white">خانه</a></li>
            <li><a href="{% url 'product_list' %}" class="text-white">فروشگاه</a></li>
            <li><a href="{% url 'free_resources' %}" class="text-white">منابع رایگان</a></li>
            <li><a href="{% url 'post-list' %}" class="text-white">بلاگ</a></li>
            <li><a href="{% url 'aboutus' %}" class="text-white">درباره ما</a></li>
            <li><a href="{% url 'contactus' %}" class="text-white">تماس با ما</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>تماس با ما</h5>
          <p>ایمیل: info@yourdomain.com</p>
          <p>تلفن: ۱۲۳۴۵۶۷۸۹</p>
          <a href="#" class="text-white me-2">تلگرام</a>
          <a href="#" class="text-white">اینستاگرام</a>
        </div>
      </div>
      <div class="text-center mt-4">
        <p>© ۱۴۰۴ - تمام حقوق برای [نام سایت شما] محفوظ است.</p>
      </div>
    </div>
  </footer>
