{% load static %}
{% load i18n%}

  <!-- هدر -->
  <header class="bg-white shadow-sm py-3 sticky-top">
    <nav class="container navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">لوگو</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">{% trans "home" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'product_list' %}">{% trans "store" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'free_resources' %}">{% trans "free resources" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'posts_list' %}">{% trans "blog" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'startup' %}">{% trans "startup ideas" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'aboutus' %}">{% trans "About us" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'contactus' %}">{% trans "contact with us" %}</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-danger fw-bold" href="{% url 'account_logout' %}">
              <i class="bi bi-box-arrow-right"></i> {% trans "Logout" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fw-bold" href="{% url 'profile' %}">
              <i class="bi bi-person-circle"></i> {% trans "Profile" %}
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="{% url 'account_login' %}">
              <i class="bi bi-box-arrow-in-right"></i> {% trans "Login" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="{% url 'account_signup' %}">
              <i class="bi bi-person-plus"></i> {% trans "Signup" %}
            </a>
          </li>
        {% endif %}
        </ul>
        {% comment %} <a href="{% url 'account_login' %}" class="btn btn-outline-primary">{% trans "login/signup" %}</a> {% endcomment %}
        
        
        
      
      
      </div>
    </nav>
  </header>
