{% load static %}
{% load i18n%}

  <!-- هدر -->
  <header class="bg-white shadow-sm py-3 sticky-top">
    <nav class="container navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">لوگو</a>
      <div class="d-flex align-items-center ms-auto">
        {% if user.is_authenticated %}
          <span class="navbar-text me-3">
            {% trans "Welcome" %}، <strong>{{ user.username }}</strong>
          </span>
        {% endif %}
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}"><i class="bi bi-house-door me-1"></i> {% trans "home" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'product_list' %}"><i class="bi bi-bag me-1"></i> {% trans "store" %} </a></li>
          <li class="nav-item"><a class="nav-link" href="{{ free_resources_url }}"><i class="bi bi-gift me-1"></i> {% trans "free resources" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'post-list' %}"><i class="bi bi-journal-text me-1"></i> {% trans "blog" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'aboutus' %}"><i class="bi bi-people me-1"></i> {% trans "About us" %}</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'contactus' %}"><i class="bi bi-envelope me-1"></i> {% trans "contact with us" %}</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:cart_detail' %}">
              <i class="bi bi-cart-fill me-1"></i> {% trans "cart" %}
              {% if cart|length > 0 %}
                <span class="badge bg-success">{{ cart|length }}</span>
              {% endif %}
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-danger fw-bold" href="{% url 'account_logout' %}">
              <i class="bi bi-box-arrow-right"></i> {% trans "Logout" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary fw-bold" href="{% url 'profile' %}">
              <i class="bi bi-person-circle"></i> {% trans "Profile" %}
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="{% url 'account_login' %}">
              <i class="bi bi-box-arrow-in-right"></i> {% trans "Login" %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success fw-bold" href="{% url 'account_signup' %}">
              <i class="bi bi-person-plus"></i> {% trans "Signup" %}
            </a>
          </li>
        {% endif %}
        </ul>
        {% comment %} <a href="{% url 'account_login' %}" class="btn btn-outline-primary">{% trans "login/signup" %}</a> {% endcomment %}
        
        
        
      
      
      </div>
    </nav>
  </header>
