{% extends '_base.html' %}

{% load humanize %}

{% load persian_translation_tags %}

{% load i18n %}

{% block content %}

  <!-- فیلتر محصولات -->
  <section class="py-4 bg-light">
    <div class="container text-center">
      <h5 class="mb-3">{% trans "Categories products" %}</h5>
      <div class="mb-4">
        {% for category in categories %}
          <a href="?category={{ category.title }}"
             class="btn {% if selected_category == category.title %}btn-primary{% else %}btn-outline-primary{% endif %}">
            {{ category.title }}
          </a>
        {% endfor %}
        <a href="{% url 'product_list' %}" class="btn btn-secondary">{% trans "All" %}</a>
      </div>

    </div>
  </section>

  <!-- گرید محصولات -->
  <section class="py-5" id="products">
    <div class="container">
      <div class="row">

        <!-- پکیج‌ها -->
        {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card product-card border-0 shadow-sm">
              <a href="{{ product.get_absolute_url }}">
                {% if product.image %}
                  <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                
                {% comment %} {% else %} {% endcomment %}
                {% endif %}
              </a>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark">
                    {{ product.title }} <span class="product-icon">📍</span>
                  </a>
                </h5>
                <p class="card-text">{{product.short_description}}</p>
                <p class="card-text"><strong>{% trans "price" %}: {{product.price|intcomma:False|translate_number}} {% trans "$" %}</strong></p>
                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="quantity" value="1">  <!-- مقدار پیش‌فرض 1 -->
                  <button type="submit" class="btn btn-small btn-bg-sand btn-success btn-color-dark px-3">
                      {% trans 'Add to Cart' %}
                  </button>
                </form>
                {% comment %} <a href="#" class="btn btn-primary">{% trans "add to cart" %}</a> {% endcomment %}
              </div>
            </div>
          </div>
          
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}


{% comment %} 
        <!-- بنر تبلیغاتی منابع رایگان -->
        <div class="col-lg-4 mb-4">
          <div class="card promo-card shadow-sm">
            <div class="card-body text-center">
              <h4>منابع رایگان شهرسازی! 🗺️</h4>
              <p>جزوات پایتون، QGIS و ArcGIS رو رایگان دانلود کن و یادگیری رو شروع کن!</p>
              <a href="free-resources.html" class="btn btn-light">مشاهده منابع</a>
            </div>
          </div>
        </div> {% endcomment %}


